<%- include partials/header.ejs %>
        <div class="row">
            <form class="form-horizontal col-md-5" action="/" method="post">
                <fieldset>
                    <legend>Sign Up Form</legend>

                    <div class="form-group">
                        <label for="email" class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" name="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="col-lg-2 control-label">Username:</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="username" ng-model="username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-lg-2 control-label">Password:</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="password" ng-model="password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary" ng-show="!existed">Submit</button>
                            <button type="button" class="btn btn-success" ng-click="checkExist()"> Check in database</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>

        <hr />
        <h3 ng-show="message" class="lead text-danger">{{message}}</h3>
<%- include partials/footer.ejs %>
